<div class='petition container'>
    <p class='header'>Tired of plastic fake plants? Let's turn Spiced into a little jungle! Studies confirm that plants improve the air and help you to focus and calm your mind!
    </p>
    <img src="https://img.icons8.com/bubbles/50/000000/potted-plant.png">

    {{#if err}}<p class='error'>Ooops, something went wrong!</p>{{/if}}
