
{{#if err}}<p class='error'>Ooops, something went wrong!</p>{{/if}}

<form class="form" method="post">

    <input type="text" name="email" placeholder="email address">
    <input type="password" name="password" placeholder="password">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">

    <button id="submit">SIGN IN</button>

</form>
