<div class="loginContainer">

<p class='header'>Sign in</p>
{{#if err}}<p class='error'>e-mail address wrong!</p>{{/if}}
{{#if wrongPass}}<p class='error'>Password wrong!</p>{{/if}}
<form class="form" method="post">

    <input type="text" name="email" placeholder="email address">
    <input type="password" name="password" placeholder="password">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">

    <button id="submit">SIGN IN</button>

</form>
<div id="plantsLogin">

<img src="https://image.flaticon.com/icons/svg/1752/1752917.svg">
<img src="https://image.flaticon.com/icons/svg/1752/1752864.svg">
<img src="https://image.flaticon.com/icons/svg/1752/1752952.svg">
</div>
</div>
