<div class="loginContainer">

    <p class='header'>
        Sign here and make an impact!
    </p>


    {{#if err}}<p class='error'>Ooops, something went wrong!</p>{{/if}}

<form class="form" method="post">
    <input type="hidden" name="signature">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">
    <canvas id="sign" width="400" height="150"></canvas>
    <button id="submit">SUBMIT</button>
</form>
{{>logout}}
<div id="plants">

    <img src="https://image.flaticon.com/icons/svg/1752/1752917.svg">
    <img src="https://image.flaticon.com/icons/svg/1752/1752864.svg">
    <img src="https://image.flaticon.com/icons/svg/1752/1752952.svg">
</div>
<script src="script.js" charset="utf-8"></script>
</div>
