<div class='petition container'>
    <p class='header'>Lets sign a petition
    </p>
    <img src="someImage.jpg">

    {{#if err}}<p class='error'>Ooops, something went wrong!</p>{{/if}}

<form class="form" method="post">



    <input type="hidden" name="signature">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">
    <canvas id="sign" width="300" height="150"></canvas>
    <button id="submit">SUBMIT</button>


</form>
{{>logout}}
<script src="script.js" charset="utf-8"></script>
