
<div class="container">

    <h2 class='boxHeader'>Welcome in the team fellow plantlover!<br>
        Please tell us a bit more about yourself.</h2>

<form class="form" method="post">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="url" placeholder="Homepage">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">

    <button id="submit">Continue</button>
</form>

</div>
