<div class='thanks'>


    <p>Thank you for signing this petition</p>
{{#if sig}}
<img src="{{sig}}"><br>

{{/if}}
    <form method="post">
        <button type'submit'>Show list of Signers

    </button>

    </form>

{{#if data}}
<ul>
    {{#data}}
    <li>{{this.first}} {{this.last}} {{this.timest}}</li> <br>
    {{/data}}
</ul>
{{/if}}
</div>
