<div class='container'>


    <p class='header'>Thank you for signing this petition</p>
{{#if sig}}
<img class='signature' src="{{sig}}"><br>

{{/if}}
    <!-- <form method="post"> -->
    <a href="/signers">Show all {{count}} signers</a>
    <input type='hidden' name='_csrf' value='{{csrfToken}}'>

<a href="/profile/edit">Edit your profile</a>

{{>logout}}
