<div class='container'>


    <p class='header'>Thank you for signing our petition! </p>
    <div id="plants">

    <img src="https://image.flaticon.com/icons/svg/1752/1752917.svg">
    <img src="https://image.flaticon.com/icons/svg/1752/1752864.svg">
    <img src="https://image.flaticon.com/icons/svg/1752/1752952.svg">
    </div>
{{#if sig}}
<img class='signature' src="{{sig}}"><br>

{{/if}}
    <!-- <form method="post"> -->
    <a href="/signers">Show all {{count}} signers</a>
    <input type='hidden' name='_csrf' value='{{csrfToken}}'>

<a href="/profile/edit">Edit your profile</a>

{{>logout}}
