* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 10px;
}

a:hover {
    color: #a9ba5a;
}

.editIcon {
    height: 40px;
}

#editIcon {
    top: 20px;
    position: absolute;
    right: 25px;
}

body {
    background-color: whitesmoke;
}

button {
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    width: 160px;
    font-size: 15px;
}

button:hover {
    background-color: #a9ba5a;
    color: whitesmoke;
}

#plants {
}

canvas {
    border: black 2px solid;
    border-radius: 5px;
    margin: 20px;
    cursor: crosshair;
}

#plantsLogin {
    bottom: 30px;
    position: absolute;
}
input {
    margin: 15px;
    width: 350px;
    height: 40px;
    font-size: 15px;
}

#firstInput {
    margin-top: 5%;
}
img {
    height: 140px;
    margin-top: 4%;
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* STARTPAGE */

.mainHeader {
    font-family: "Gelasio", serif;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    border-bottom: black solid 1px;
    padding-bottom: 30px;
}
.boxHeader {
    font-size: 40px;
    font-family: "Gelasio", serif;
    margin-top: 15px;
    margin: 10px;
}

.smallHeader {
    font-family: "Gelasio", serif;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
}

.header {
    font-family: "Gelasio", serif;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    border-bottom: black solid 1px;
}
.subHeader {
    font-size: 17px;
    width: 80%;
    text-align: center;
    padding-top: 25px;
}
.boxImg {
    margin: 0;
    height: 200px;
    margin-top: 0;
    align-self: center;
}

.box1 {
    border: solid #f9ce55 8px;
    box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    margin: 30px;
    width: 80%;
    padding: 10px;
    float: left;
    margin-left: 6%;
}

.box2 {
    border: solid #f9ce55 8px;
    box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
    width: 70%;
    padding: 10px;
    float: right;
    margin-right: 7%;
}

.innerBox {
    display: grid;
    grid-template-rows: 0.75fr 2fr;
}

.homeButtons {
    display: flex;
}

.link {
    justify-self: self-end;
    text-decoration: underline;
}

.signature {
    border: solid 2px black;
    border-radius: 5px;
    margin: 15px;
}

.line {
    border-top: 1px black solid;
    width: 500px;
    margin-bottom: 50px;
}

/* EDIT/PROFIL */

.editForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
.edit {
    font-size: 12px;
    margin: 4px;
    text-align: center;
}

.editInput {
    margin-top: 20px;
    margin-bottom: 5px;
}

#update {
    width: 100px;
}

#delete {
    width: 250px;
}

/* REGISTER, LOGIN, LOGOUT */

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border: orange 15px solid;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
    width: 100vw;
    justify-content: center;
}
.login {
    text-decoration: underline;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
}
.editContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logout {
    font-family: "Gelasio", serif;
    font-size: 23px;
    border: 3px solid black;
    padding: 15px;
    width: 220px;
    text-align: center;
    margin: 25px;
}

.signUp {
    margin: 20px;
    padding: 20px;
    border: ;
}

.signButton {
    border: 3px solid black;
    padding: 15px;
    width: 220px;
    text-align: center;
    margin: 25px;
}

.signButton:hover {
    color: #a9ba5a;
    border: 3px solid #a9ba5a;
}

/* IPHONE 10 */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    /* STYLES GO HERE */

    input {
        width: 90%;
        height: 80px;
        font-size: 250%;
    }

    .header {
        font-size: 80px;
        margin-top: 50px;
    }

    canvas {
        width: 800px;
        margin-top: 25%;
    }

    img {
        height: 250px;
    }

    #plants {
        bottom: 50px;
        position: absolute;
    }

    button {
        width: 400px;
        font-size: 40px;
        background-color: #a9ba5a;
        color: whitesmoke;
        height: 100px;
    }

    .logout {
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 20%;
        font-size: 40px;
    }

    /* STARTPAGE */
    .smallHeader {
        font-size: 45px;
    }

    .mainHeader {
        font-family: "Gelasio", serif;
        padding: 0px;
        font-size: 400%;
        text-align: center;
        border-bottom: black solid 1px;
        padding-bottom: 30px;
        margin: 10% 10% 5% 10%;
    }

    .signButton {
        width: 420px;
        height: 80px;
        font-size: 200%;
    }

    #hiddenButton {
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    #startHeader {
        font-size: 450%;
    }

    .subHeader {
        font-size: 210%;
    }

    .boxHeader {
        font-size: 50px;
    }
    .box1 {
        display: flex;
        border: solid #f9ce55 13px;
        float: none;
        margin: 5%;
        width: 90%;
    }
    .loginP {
        font-size: 250%;
    }
    .box2 {
        display: flex;
        border: solid #f9ce55 13px;
        box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
        float: none;
        margin: 5%;
        width: 90%;
    }
    .innerBox {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-size: 200%;
    }

    /* LOGIN */
    .loginContainer {
        height: 100vh;
    }

    /* EDIT */

    .edit {
        font-size: 200%;
    }
    .profileEdit {
        width: 45%;
    }
    #update {
        width: 80%;
        margin-top: 3%;
    }
    #delete {
        width: 130%;
        height: 100%;
        padding: 5%;
    }
}

/* IPHONE 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    /* STYLES GO HERE */

    input {
        width: 90%;
        height: 80px;
        font-size: 250%;
    }

    .header {
        font-size: 80px;
        margin-top: 50px;
    }

    canvas {
        width: 800px;
        margin-top: 25%;
    }

    img {
        height: 250px;
    }

    #plants {
        bottom: 50px;
        position: absolute;
    }

    button {
        width: 400px;
        font-size: 40px;
        background-color: #a9ba5a;
        color: whitesmoke;
        height: 100px;
    }

    .logout {
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 20%;
        font-size: 40px;
    }

    /* STARTPAGE */
    .smallHeader {
        font-size: 45px;
    }

    .mainHeader {
        font-family: "Gelasio", serif;
        padding: 0px;
        font-size: 400%;
        text-align: center;
        border-bottom: black solid 1px;
        padding-bottom: 30px;
        margin: 10% 10% 5% 10%;
    }

    .signButton {
        width: 420px;
        height: 80px;
        font-size: 200%;
    }

    #hiddenButton {
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    #startHeader {
        font-size: 450%;
    }

    .subHeader {
        font-size: 210%;
    }

    .boxHeader {
        font-size: 50px;
    }
    .box1 {
        display: flex;
        border: solid #f9ce55 13px;
        float: none;
        margin: 5%;
        width: 90%;
    }
    .loginP {
        font-size: 250%;
    }
    .box2 {
        display: flex;
        border: solid #f9ce55 13px;
        box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
        float: none;
        margin: 5%;
        width: 90%;
    }
    .innerBox {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-size: 200%;
    }

    /* LOGIN */
    .loginContainer {
        height: 100vh;
    }
    .edit {
        font-size: 200%;
    }
    .editContainer {
        height: 100vh;
    }

    .profileEdit {
        width: 45%;
    }

    #update {
        width: 80%;
        margin-top: 3%;
    }
    #delete {
        width: 130%;
        height: 100%;
        padding: 5%;
    }
}

/* iPhone 6, 7, & 8 Plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    /* STYLES GO HERE */
    input {
        width: 90%;
        height: 80px;
        font-size: 250%;
    }

    .header {
        font-size: 80px;
        margin-top: 50px;
    }

    canvas {
        width: 800px;
        margin-top: 25%;
    }

    img {
        height: 250px;
    }

    #plants {
        bottom: 50px;
        position: absolute;
    }

    button {
        width: 400px;
        font-size: 40px;
        background-color: #a9ba5a;
        color: whitesmoke;
        height: 100px;
    }

    .logout {
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 20%;
        font-size: 40px;
    }

    /* STARTPAGE */
    .smallHeader {
        font-size: 45px;
    }

    .mainHeader {
        font-family: "Gelasio", serif;
        padding: 0px;
        font-size: 400%;
        text-align: center;
        border-bottom: black solid 1px;
        padding-bottom: 30px;
        margin: 10% 10% 5% 10%;
    }

    .signButton {
        width: 420px;
        height: 80px;
        font-size: 200%;
    }

    #hiddenButton {
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    #startHeader {
        font-size: 450%;
    }

    .subHeader {
        font-size: 210%;
    }

    .boxHeader {
        font-size: 50px;
    }
    .box1 {
        display: flex;
        border: solid #f9ce55 13px;
        float: none;
        margin: 5%;
        width: 90%;
    }
    .loginP {
        font-size: 250%;
    }
    .box2 {
        display: flex;
        border: solid #f9ce55 13px;
        box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
        float: none;
        margin: 5%;
        width: 90%;
    }
    .innerBox {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-size: 200%;
    }

    /* LOGIN */
    /* LOGIN */
    .loginContainer {
        height: 100vh;
    }
    .edit {
        font-size: 200%;
    }
    .editContainer {
        height: 100vh;
    }

    .profileEdit {
        width: 45%;
    }
    #update {
        width: 80%;
        margin-top: 3%;
    }
    #delete {
        width: 130%;
        height: 100%;
        padding: 5%;
    }
}

/* Google Pixel 2 XL  */
@media only screen and (min-width: 411px) and (max-width: 767px) {
    /* Your Styles... */
    input {
        width: 90%;
        height: 80px;
        font-size: 250%;
    }

    .header {
        font-size: 80px;
        margin-top: 50px;
    }

    canvas {
        width: 800px;
        margin-top: 25%;
    }

    img {
        height: 250px;
    }

    #plants {
        bottom: 50px;
        position: absolute;
    }

    button {
        width: 400px;
        font-size: 40px;
        background-color: #a9ba5a;
        color: whitesmoke;
        height: 100px;
    }

    .logout {
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 20%;
        font-size: 40px;
    }

    /* STARTPAGE */
    .smallHeader {
        font-size: 45px;
    }

    .mainHeader {
        font-family: "Gelasio", serif;
        padding: 0px;
        font-size: 400%;
        text-align: center;
        border-bottom: black solid 1px;
        padding-bottom: 30px;
        margin: 10% 10% 5% 10%;
    }

    .signButton {
        width: 420px;
        height: 80px;
        font-size: 200%;
    }

    #hiddenButton {
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    #startHeader {
        font-size: 450%;
    }

    .subHeader {
        font-size: 210%;
    }

    .boxHeader {
        font-size: 50px;
    }
    .box1 {
        display: flex;
        border: solid #f9ce55 13px;
        float: none;
        margin: 5%;
        width: 90%;
    }
    .loginP {
        font-size: 250%;
    }
    .box2 {
        display: flex;
        border: solid #f9ce55 13px;
        box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
        float: none;
        margin: 5%;
        width: 90%;
    }
    .innerBox {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-size: 200%;
    }

    /* LOGIN */
    .loginContainer {
        height: 100vh;
    }
    /* EDIT */

    .edit {
        font-size: 200%;
    }

    .editContainer {
        height: 100vh;
    }
    .profileEdit {
        width: 45%;
    }
    #update {
        width: 80%;
        margin-top: 3%;
    }
    #delete {
        width: 130%;
        height: 100%;
        padding: 5%;
    }
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    input {
        width: 90%;
        height: 80px;
        font-size: 250%;
    }

    .header {
        font-size: 80px;
        margin-top: 50px;
    }

    canvas {
        width: 800px;
        margin-top: 25%;
    }

    img {
        height: 250px;
    }

    #plants {
        bottom: 50px;
        position: absolute;
    }

    button {
        width: 400px;
        font-size: 40px;
        background-color: #a9ba5a;
        color: whitesmoke;
        height: 100px;
    }

    .logout {
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 20%;
        font-size: 40px;
    }

    /* STARTPAGE */
    .smallHeader {
        font-size: 45px;
    }

    .mainHeader {
        font-family: "Gelasio", serif;
        padding: 0px;
        font-size: 400%;
        text-align: center;
        border-bottom: black solid 1px;
        padding-bottom: 30px;
        margin: 10% 10% 5% 10%;
    }

    .signButton {
        width: 420px;
        height: 80px;
        font-size: 200%;
    }

    #hiddenButton {
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    #startHeader {
        font-size: 450%;
    }

    .subHeader {
        font-size: 210%;
    }

    .boxHeader {
        font-size: 50px;
    }
    .box1 {
        display: flex;
        border: solid #f9ce55 13px;
        float: none;
        margin: 5%;
        width: 90%;
    }
    .loginP {
        font-size: 250%;
    }
    .box2 {
        display: flex;
        border: solid #f9ce55 13px;
        box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
        float: none;
        margin: 5%;
        width: 90%;
    }
    .innerBox {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-size: 200%;
    }

    /* LOGIN */
    .loginContainer {
        height: 100vh;
    }
    /* EDIT */

    .edit {
        font-size: 200%;
    }

    .editContainer {
        height: 100vh;
    }
    .profileEdit {
        width: 45%;
    }
    #update {
        width: 80%;
        margin-top: 3%;
    }
    #delete {
        width: 130%;
        height: 100%;
        padding: 5%;
    }
}
